openapi: 3.1.0
info:
  title: Hostaway Calendar Webhooks API
  description: 'Read and update availability and nightly pricing on the Hostaway listing

    calendar. Supports per-day retrieval, batch updates, and embedded

    reservation context via the includeResources query parameter.

    '
  version: 1.0.0
  contact:
    name: Hostaway Support
    email: support@hostaway.com
    url: https://api.hostaway.com/documentation
  x-logo:
    url: https://www.hostaway.com/favicon.ico
servers:
- url: https://api.hostaway.com/v1
  description: Production API
security:
- OAuth2ClientCredentials: []
tags:
- name: Webhooks
  description: Unified event webhooks
paths:
  /webhooks/unifiedWebhooks:
    get:
      summary: Hostaway List Unified Webhooks
      operationId: listUnifiedWebhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhooks collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
    post:
      summary: Hostaway Create Unified Webhook
      operationId: createUnifiedWebhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
  /webhooks/unifiedWebhooks/{webhookId}:
    parameters:
    - name: webhookId
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Hostaway Get Unified Webhook
      operationId: getUnifiedWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
    put:
      summary: Hostaway Update Unified Webhook
      operationId: updateUnifiedWebhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
    delete:
      summary: Hostaway Delete Unified Webhook
      operationId: deleteUnifiedWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
components:
  schemas:
    WebhookListResponse:
      type: object
      properties:
        status:
          type: string
        result:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
    WebhookInput:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
        login:
          type: string
          description: Optional basic-auth username Hostaway sends with webhook
        password:
          type: string
          description: Optional basic-auth password Hostaway sends with webhook
        alertingEmailAddress:
          type: string
          format: email
          description: Recipient for delivery-failure notifications
        isEnabled:
          type: integer
          enum:
          - 0
          - 1
    WebhookResponse:
      type: object
      properties:
        status:
          type: string
        result:
          $ref: '#/components/schemas/Webhook'
    StandardResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - fail
        result:
          type: object
    Webhook:
      allOf:
      - $ref: '#/components/schemas/WebhookInput'
      - type: object
        properties:
          id:
            type: integer
          insertedOn:
            type: string
            format: date-time
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.hostaway.com/v1/accessTokens
          scopes:
            general: General API access scope
