openapi: 3.1.0
info:
  title: Hostaway Calendar Listings API
  description: 'Read and update availability and nightly pricing on the Hostaway listing

    calendar. Supports per-day retrieval, batch updates, and embedded

    reservation context via the includeResources query parameter.

    '
  version: 1.0.0
  contact:
    name: Hostaway Support
    email: support@hostaway.com
    url: https://api.hostaway.com/documentation
  x-logo:
    url: https://www.hostaway.com/favicon.ico
servers:
- url: https://api.hostaway.com/v1
  description: Production API
security:
- OAuth2ClientCredentials: []
tags:
- name: Listings
  description: Vacation rental listings and properties
paths:
  /listings:
    get:
      summary: Hostaway List Listings
      operationId: listListings
      tags:
      - Listings
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Listings collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsResponse'
    post:
      summary: Hostaway Create Listing
      operationId: createListing
      tags:
      - Listings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingInput'
      responses:
        '200':
          description: Listing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
  /listings/{listingId}:
    parameters:
    - $ref: '#/components/parameters/ListingId'
    get:
      summary: Hostaway Get Listing
      operationId: getListing
      tags:
      - Listings
      responses:
        '200':
          description: Single listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
    put:
      summary: Hostaway Update Listing
      operationId: updateListing
      tags:
      - Listings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingInput'
      responses:
        '200':
          description: Listing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
components:
  parameters:
    ListingId:
      name: listingId
      in: path
      required: true
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
  schemas:
    Listing:
      allOf:
      - $ref: '#/components/schemas/ListingInput'
      - type: object
        properties:
          id:
            type: integer
          isActive:
            type: integer
            description: 0 or 1
          insertedOn:
            type: string
            format: date-time
    ListingInput:
      type: object
      properties:
        name:
          type: string
        externalListingName:
          type: string
        propertyTypeId:
          type: integer
        address:
          type: string
        city:
          type: string
        country:
          type: string
          description: ISO 3166-2 country code
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        currencyCode:
          type: string
          example: USD
        timeZoneName:
          type: string
        personCapacity:
          type: integer
        bedroomsNumber:
          type: integer
        bathroomsNumber:
          type: number
        bedsNumber:
          type: integer
        squareMeters:
          type: number
        price:
          type: number
        cleaningFee:
          type: number
        checkInTimeStart:
          type: integer
        checkInTimeEnd:
          type: integer
        checkOutTime:
          type: integer
    ListingsResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - fail
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        result:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
    ListingResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - fail
        result:
          $ref: '#/components/schemas/Listing'
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.hostaway.com/v1/accessTokens
          scopes:
            general: General API access scope
