openapi: 3.1.0
info:
  title: Hostaway Calendar Listing Bed Types API
  description: 'Read and update availability and nightly pricing on the Hostaway listing

    calendar. Supports per-day retrieval, batch updates, and embedded

    reservation context via the includeResources query parameter.

    '
  version: 1.0.0
  contact:
    name: Hostaway Support
    email: support@hostaway.com
    url: https://api.hostaway.com/documentation
  x-logo:
    url: https://www.hostaway.com/favicon.ico
servers:
- url: https://api.hostaway.com/v1
  description: Production API
security:
- OAuth2ClientCredentials: []
tags:
- name: Listing Bed Types
  description: Bed types configured for a listing
paths:
  /listings/{listingId}/bedTypes:
    parameters:
    - $ref: '#/components/parameters/ListingId'
    get:
      summary: Hostaway List Listing Bed Types
      operationId: listListingBedTypes
      tags:
      - Listing Bed Types
      responses:
        '200':
          description: Bed types collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
components:
  schemas:
    StandardResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - fail
        result:
          type: object
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        page:
          type: integer
        totalPages:
          type: integer
  parameters:
    ListingId:
      name: listingId
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.hostaway.com/v1/accessTokens
          scopes:
            general: General API access scope
